#TopBar{
    background-color: #c1c1c1;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 10fr 1fr;
    text-align: center;
}

#main-content {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10vh;
}

#navigatie {
    display: grid;
    grid-template-columns: 3fr 3fr 3fr;
    text-align: center;
}